*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './style/variables.scss';

body{
    background-color: #1e2d3b;
    color: $text_color;
}
h2{
    color: $h2_color;
}
.container{
    width: 75%;
    margin: auto;
}
img {
    max-width: 100%;
    width: 170px;
}