*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './style/variables.scss';

body{
    background-color: #1e2d3b;
    color: $color_text;
}
h2{
    color: $color_author;
}
.container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.search-container{
    width: 68%;
    margin: auto;
    padding: 15px 0;
}
img {
    max-width: 100%;
    width: 170px;
    margin: auto;
}